{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="hold_view">

  <p class="passwd_title">狐享会-密码重置</p>
  <form class="passwd_form" action="/main/reset_passwd/" method="post">
      {% csrf_token %}
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword0" placeholder="请输入新密码" name="password0">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请确认新密码" name="password1">
    </div>
    <p class="message">{{ message }}</p>
    <button type="submit" class="btn btn-default submit">确认</button>
  </form>
</div>

{% endblock %}