{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<form class="passwd_form">
  <div class="form-group">
    <label class="reset_title" for="exampleInputEmail1">狐享会密码重置</label>
    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="请输入新密码">
  </div>
  <div class="form-group">
    <!--<label for="exampleInputPassword1">Password</label>-->
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请确认新密码">
  </div>
  <!--<div class="form-group">-->
    <!--<label for="exampleInputFile">File input</label>-->
    <!--<input type="file" id="exampleInputFile">-->
    <!--<p class="help-block">Example block-level help text here.</p>-->
  <!--</div>-->
  <!--<div class="checkbox">-->
    <!--<label>-->
      <!--<input type="checkbox"> Check me out-->
    <!--</label>-->
  <!--</div>-->
  <button type="submit" class="btn btn-default sure_btn">确认</button>
</form>


{% endblock %}