
.passwd_form{
    padding-top:200px;
    max-width:250px;
    margin:0 auto;
}

.reset_title{
    padding-bottom:20px;
    padding-left:50px;
}

.sure_btn{
    width:100px;
    margin-left:70px;
}

.reset_result{
    padding-top:200px;
    max-width:400px;
    margin:0 auto;
}